.bio {
  display: flex;
  // grid-template-columns: 1fr 2fr;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 6rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: 3em 0 2em 5em;
  border-bottom: 0.2px solid #dbdbdb;
  margin-top: 5em;
  margin-bottom: 2em;

  #profilePhotoInput {
    display: none;
  }

  .profile-photo {
    background: #000;
    width: 10em;
    height: 10em;
    border-radius: 50%;
    margin-top: 0.5em;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
      cursor: pointer;

     


    }
     img:hover {
       filter: blur(2px);
     }
  }

  .profile-info {
    .name {
      font-size: 1.7em;
      color: #545454;
      margin-bottom: 0;
    }

    .about {
      font-size: 1.2em;
      color: #545454;
    }

    button {
      background-color: #0095f6;
      color: #fff;
      font-size: 1.1em;
      width: 6em;
      height: 2em;

      :hover {
        background-color: #000000;
      }
    }
  }
}




.edit-bio-form input {
  width: 100%;
  height: 3em;
  border: 0.1em solid #dbdbdb;
  border-radius: 0.2em;
  padding: 0.5em;
  margin-top: 0.5em;
}

.edit-bio-form button {
  margin: 1em 1em 0 0;

}

.edit-bio-form .btns{
  // padding: 0.5em;
  // width: 50%;
  // outline: 1px solid blue;
}

.edit-bio-form  div .cancel-button {
  background-color: #890000;
}

.edit-bio-form div .cancel-button:hover {
  background-color: #3d0505;
}

@media (max-width: 760px) {
  .profile-photo {
    width: 5em;
    height: 5em;
    margin-top: 3em;
    margin-right: 2em;
    margin-left: 0; margin-right: 0;
  }


  .bio{
    gap: .5rem;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 3em 0 2em 0;
    
    *{
      text-align: center;
    }
  }
}


