.discard-img {
  position: fixed;
  bottom: 7rem;
  right: 7em;
  transform: scale(2.5);
  display: flex;
  gap: .5em;
  flex-direction: column;
}

.add-photo-button,
.fa-trash {
  cursor: pointer;
  padding: 0rem;
}

.fa-trash.inactive {
  cursor: not-allowed;
}

.fa-trash.inactive:hover {
  color: #000;
}


.discard-img>* {
  color: black;
}

.fa-trash:hover {
  color: red;
}

.add-photo-button:hover {
  color: #670000;
}

#addPhotoInput {
  display: none;
}

.gallery.inactive {
  justify-content: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  row-gap: 0.5em;
  column-gap: 0.5em;
  flex-direction: row;
  z-index: -1;

  .item {
    height: 16em;
    width: 16em;
    background: #000;
    flex-direction: column;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .item-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .item:hover .item-image {
    webkit-filter: blur(4px);
    filter: blur(10px);
  }

  .delete-button {
    position: absolute;
    padding: 0.1em 0.3em;
    background-color: #890000;
    color: #fff;
    border: 1px solid #c8c8c8;
    display: none;
  }

  .item:hover .delete-button {
    display: block;
  }

  .delete-button:hover {
    background-color: #670000;
    color: #fff;
  }



  .emptydiv {
    background-color: #4d96f6;
    width: 50%;
    padding: 2rem;
    text-align: center;
    color: white;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
  }
}

.backdrop {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.788);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.backdrop.active {
  display: flex;
}

.del-modal {
  display: flex;
  background-color: white;
  border-radius: 7px;
  flex-direction: column;
  padding: 1rem;
  width: auto;
  height: fit-content;
  z-index: 100000;
}

.del-modal h2 {
  margin: 1rem 0;
}

.del-modal div {
  inline-size: auto;
  margin: .5em .5em .5em 0px;
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
}

.del-modal div button {
  background-color: green;
  padding: .1rem .4rem;
  font-size: 1.3rem;
  color: #fff;

}


.del-modal div button:hover {
  background-color: rgb(2, 32, 2);
}

@media (max-width: 760px) {
  .item {
    height: 4em;
    width: 4em;
  }

  .gallery {
    justify-content: center;
  }

  .discard-img {
    bottom: 6.5em;
    right: 3em;


  }
}